<section id="contact" class="container-fluid">

	<div class="contact-header">

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">

				<div class="contact-logo"></div><!-- .contact-logo -->

			</div><!-- .col -->
		</div><!-- .row -->

	</div><!-- .contact-header -->

	<h1>Contact</h1>
	<%= render 'form' %>

</section><!-- #contact -->
