<section id="contact" class="container-fluid">

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="contact-header">

				<div class="contact-logo"></div><!-- .contact-logo -->

				<div class="contact-quote">
					<h1>Tomorrow is another Day, Yesterday is another raw</h1>
				</div><!-- .contact-quote -->

			</div><!-- .contact-header -->

		</div><!-- .col -->
	</div><!-- .row -->

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="contact-form">
				<h1>Contact</h1>
				<%= render 'form' %>
			</div><!-- .contact-form -->

		</div><!-- .col -->
	</div><!-- .row -->

	<%= render "layouts/footer" %>

</section><!-- #contact -->
