<section id="about" class="container-fluid">

	<h1>About</h1>
	<p>I am working on it. Thank you for your patience.</p>
	_<p>I'm 28, live in Paris mon Amour, France, and take photos. I'm always looking for models/mua/collab. Feel free to contact me for further informations via the <%= link_to "Contact tab", new_user_path %>.<p>
	<p>Thank you for visiting my Facebook page.</p>
	<p>Kind Regards,<br>
	Thomas Menelle</p>
	<br>
	_<p>J'ai 28 ans, vis à Paris mon Amour, France, et prends des photos. Je suis constamment à la recherche de modèle/maquilleur/collab. N'hésitez pas à me contacter pour plus d'informations via l'<%= link_to "onglet Contact", new_user_path %>.</p>
	<p>Merci pour votre visite sur ma page Facebook.</p>
	<p>Cordialement,<br>
	Thomas Menelle</p>
	
	<div class="timeline">
		<ul>
			<li class="event">
				<span class="flag">SIT LUX Paris</span>
				<span class="time">2014</span>
				<span class="desc">Four Hands Photographic House</span>
			</li>

			<li class="event">
				<span class="flag">VUHI Light</span>
				<span class="time">2013</span>
				<span class="desc">App for elegant Casting Calls</span>
			</li>

			<li class="event">
				<span class="flag">Menelle Paris</span>
				<span class="time">2011</span>
				<span class="desc">Personal Studio</span>
			</li>

			<li class="event">
				<span class="flag">First Camera</span>
				<span class="time">2005</span>
				<span class="desc"></span>
			</li>

			<li class="event">
				<span class="flag">#</span>
				<span class="time">1985</span>
				<span class="desc">Hello World</span>
			</li>
		</ul>
	</div><!-- .timeline -->
</section><!-- #about -->