<section id="about" class="container-fluid">

	<h1>About</h1>
	<p>I am working on it. Thank you for your patience.</p>
	<br>
	_<p>I'm 28, live in Paris mon Amour, France, and take photos. I'm always looking for models/mua/collab. Feel free to contact me for further informations via the Contact tab.<p>
	<p>Thank you for visiting my Facebook page.</p>
	<p>Kind Regards,<br>
	Thomas Menelle</p>
	<br>
	<br>
	_<p>J'ai 28 ans, vis à Paris mon Amour, France, et prends des photos. Je suis constamment à la recherche de modèle/maquilleur/collab. N'hésitez pas à me contacter pour plus d'informations via l'onglet Contact.</p>
	<p>Merci pour votre visite sur ma page Facebook.</p>
	<p>Cordialement,<br>
	Thomas Menelle</p>

</section><!-- #about -->