/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
.container-fluid {padding: 0px 15px;}
h1 {font-family: "proxima-nova",sans-serif;font-style:normal;font-weight:400;font-size:13px!important;color:#000;letter-spacing:2px}
p, a {font-family: "proxima-nova",sans-serif;font-style:normal;font-weight:400;font-size:x-small;color:#000!important;}

#ig {
	margin-left:-15px;
	.profile {
		background-color:#f2f2f2;
		padding:16px;
		margin-bottom:32px;
		ul {list-style-type:none;margin:0;padding:0;li {display:inline;}}
		.profile_picture, .id, .bio {float:left;height:64px;}
		.profile_picture {
			float:left;
			img {
				width:64px;
				height:64px;
				border-radius: 50%;
				-moz-border-radius: 50%;  
				-webkit-border-radius: 50%;
			}
			.link {
				background-image:asset-url("menelle-ig.png", image);
				background-size:64px 64px;
				background-repeat:no-repeat;
				position:absolute;
				width:64px;
				height:64px;
				top:0;
				left:16px;
				visibility:hidden;
			}
			span {position:absolute;width:64px;height:64px;top:0;left:16px;z-index:1;}
		}
		.profile_picture:hover {
			img {visibility:hidden;}
			.link {visibility:visible;}
		}
		.id {
			padding-left:16px;
			.fullname {a {font-size:small;letter-spacing:2px}}
		}
		.bio { padding-left:64px;padding-top:4px;width:400px;}
		.stats {
			padding-left:80px;
			.digit-media, .digit-followed_by, .digit-follows, .digit-likes {
				height: 13px;
				background-color:#000;
				color:#fff;font-size:xx-small;
				padding: 0 3px;
				border-radius: 2px;
				-moz-border-radius: 2px;  
				-webkit-border-radius: 2px;
				margin-left:-3px;
			}
			.media, .followed_by, .follows {float:left;height:18px;width:44px;}
			.img-media, .digit-media, .img-followed_by, .digit-followed_by, .img-follows, .digit-follows {float:left;}
			.media {.img-media {width:16px;height:16px;background-image:asset-url("icons/media.png", image);background-size:16px 16px;background-repeat:no-repeat;}}
			.media:hover {.img-media {background-image:asset-url("icons/media-black.png", image);background-size:16px 16px;background-repeat:no-repeat;}}
			
			.followed_by {.img-followed_by {width:16px;height:16px;background-image:asset-url("icons/followed_by.png", image);background-size:16px 16px;background-repeat:no-repeat;}}
			.followed_by:hover {.img-followed_by {background-image:asset-url("icons/followed_by-black.png", image);background-size:16px 16px;background-repeat:no-repeat;}}
			
			.follows {.img-follows {width:16px;height:16px;background-image:asset-url("icons/follows.png", image);background-size:16px 16px;background-repeat:no-repeat;}}
			.follows:hover {.img-follows {background-image:asset-url("icons/follows-black.png", image);background-size:16px 16px;background-repeat:no-repeat;}}
		}
	}
	.item {
		.likes, .img-likes, .digit-likes {float:left;}
		padding-bottom:32px;
		.likes {
			.digit-likes {
				height: 13px;
				background-color:#000;
				color:#fff;font-size:xx-small;
				padding: 0 3px;
				border-radius: 2px;
				-moz-border-radius: 2px;  
				-webkit-border-radius: 2px;
				margin-left:-3px;
			}
			.img-likes {width:16px;height:16px;background-image:asset-url("icons/like.png", image);background-size:16px 16px;background-repeat:no-repeat;}}
		}
		.likes:hover {.img-likes {background-image:asset-url("icons/like-black.png", image);background-size:16px 16px;background-repeat:no-repeat;}}
}

#about {
	.timeline {
		list-style:none;
		border-left: 4px solid #000;
		.event {
			.flag {
				height: 13px;
				background-color:#000;
				color:#fff;font-size:xx-small;
				padding: 0 3px;
				border-radius: 2px;
				-moz-border-radius: 2px;  
				-webkit-border-radius: 2px;
				margin-left:-3px;
			}
		}
	}
}
@import "bootstrap";