<section id="website" class="container-fluid">

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

			<p>The <%= link_to "Menelle Paris", "http://www.menelle.com", target: "_blank" %> website will load in a new window.<br>
			Please <%= link_to "clic here", "http://www.menelle.com", target: "_blank" %>if it doesn't.</p>

		</div><!-- .col -->
	</div><!-- .row -->

	<%= render "layouts/footer" %>

</section><!-- #website -->