<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">

		<div class="credits">
			<p>Copyright &copy; <%= Time.new.year %> <%= link_to 'Menelle Paris', 'http://www.menelle.com', target: "_blank" %>. All rights reserved.</p>
		</div><!-- .credits -->

	</div><!-- .col -->
</div><!-- .row -->