	<div class="credits">
		
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">

				<p>Copyright &copy; 2014 <%= link_to 'Menelle Paris', 'http://www.menelle.com', target: "_blank" %>. All rights reserved.</p>

			</div><!-- .col -->
		</div><!-- .row -->
	
	</div><!-- .credits -->